In [1]:
#Importing libraries that we will be using
%matplotlib inline
import statsmodels.api as sm
import numpy as np 
import scipy
import plotly.express as px
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
import warnings
warnings.filterwarnings(action="ignore")
import seaborn as sns

In [2]:
# unzip the big data
from zipfile import ZipFile
data_loc = '../newDataTest/ABtwoCampaignEngView.csv.zip'
with ZipFile(data_loc, 'r') as zip_ref:
        zip_ref.extractall("../newDataTest/")

In [5]:
#Reading our data
df=pd.read_csv('../newDataTest/ABtwoCampaignEngView.csv', index_col = False)
df.drop('Unnamed: 0', inplace=True, axis=1)
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,8ec30aff-2332-4a1f-9330-b93abb32bc94,control,<built-in method date of Timestamp object at 0...,15,LG,156,6,0.0,0.0
1,4e1bcb56-357c-4186-9d39-3be82e3519f1,control,<built-in method date of Timestamp object at 0...,7,Samsung,162,6,0.0,0.0
2,dd6ec327-fcfd-4a80-89c0-dccd3dd80f09,control,<built-in method date of Timestamp object at 0...,14,Apple,178,15,0.0,0.0
3,b5222d0f-39e3-4c02-a12f-1ef09d4f861f,control,<built-in method date of Timestamp object at 0...,22,Apple,167,15,0.0,0.0
4,9428377d-1504-4407-87c2-ce518f67eb87,control,<built-in method date of Timestamp object at 0...,21,Samsung,155,15,0.0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912712 entries, 0 to 912711
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   auction_id   912712 non-null  object
 1   experiment   912712 non-null  object
 2   date         912712 non-null  object
 3   hour         912712 non-null  int64
 4   device_make  912712 non-null  object
 5   platform_os  912712 non-null  int64
 6   browser      912712 non-null  int64
 7   yes          912712 non-null  float64
 8   no           912712 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 62.7+ MB